<div class="login-page">
  <a routerLink="/">
    <img class="trello-main-logo"
         src="../../../../assets/trello-login.svg">
  </a>
  <div class="form-container">
    <div class="login-header">Register to Trello</div>
    <div class="errors"></div>
    <form [formGroup]="form"
          (ngSubmit)="onSubmit()">
      <input formControlName="email"
             type="email"
             placeholder="Email"
             class="login-input">
      <input formControlName="userName"
             placeholder="Username"
             class="login-input">
      <input formControlName="password"
             type="password"
             placeholder="Password"
             class="login-input">
      <button class="login-submit-button"
              type="submit">
        Register
      </button>
    </form>
    <div class="bottom-form-links">
      <a class="register-link"
         routerLink="/login">Sign in</a>
    </div>
  </div>
</div>
